---
layout: default
title: Homepage
seo:
    title: 
    description:
    social_image:
    twitter_card:
    keywords:
    hide-from-google: false
---

{% include site_header.html %}

<section class="flex items-center bg-image bg-plant p-5p min-h-70">
    <div class="max-w-lg">
        <h2>ViaSana brings Magic to<br>Movement Pros Online</h2>   
        <p class="pb-4">We create a sense of wonder and possibility for our client's vision to come to life for their community.</p>
        <div class="my-2 button"><a href="#">Explore Web Design Services</a></div>
    </div>
</section> 

<section class="p-8 text-center text-white bg-moonstone"> 
    <p> Sign up to our newsletter to access free design resources.</p>
    <form class="grid max-w-2xl mx-auto" method="post"> 
        <input type="email" id="email" name="email" class="p-2 mb-2 text-center bg-transparent border" placeholder="Your Email" />

        <input type="hidden" name="inbox_key" value="contact-form">
        <input type="text" name="_gotcha" style="display: none;">

        <div class="m-2 text-center"> <input class="border button" type="submit" value="Subscribe"/> </div>
    </form>
</section>

<!-- Icon Grid  -->
<section class="grid grid-cols-4 text-center icon-section" id="why-us">
    <div class="pb-4 text-center col-span-full"> 
        <h2> Why Choose Us </h2>
    </div>

    <!-- Loop that pulls in from "Why_Choose_Us" Data file (Icon, Title, and Text)-->
    {% for item in site.data.why_choose_us.choose_us limit:4 %}
    <div class="col-span-4 md:col-span-1 sm:col-span-2 min-h-[220px]">
        <img src="{{ item.icon }}"> 
        <h4 class="px-1 text-green">{{ item.title }}</h4>
        <p class="p-2">{{ item.text }}</p>
    </div>
    {% endfor %}

</section>

<!-- Dark intro section  -->
<section class="grid grid-cols-12 text-white bg-green">
    <div class="col-span-full md:col-span-7 bg-image bg-meeting min-h-50"></div> 
    <div class="self-center col-span-full md:col-span-5 p-10p">
        <div>
            <h2>{{site.data.why_choose_us.agency_bio.title}} </h2>
            <p>{{site.data.why_choose_us.agency_bio.bio}}</p>
        </div>
    </div>
</section>

<section class="text-center text-white bg-thistle"> 
    <h3> Find us on Instagram  </h3>
    <div class="flex flex-row justify-center">
        <div class="p-2">
            <div class="w-20 h-20 mx-auto rounded-full bg-moonstone"></div>
            <a href="#" class="p-6 text-3xl"> Morgan </a>
        </div>
        <div class="p-2">
            <div class="w-20 h-20 mx-auto rounded-full bg-moonstone"></div>
            <a href="#" class="p-6 text-3xl"> Joseph </a>
        </div>
    </div>
</section>

<!-- Opening banner  -->
<section class="flex justify-end text-center bg-image bg-plant-2 min-h-70" id="services">
    <div class="self-center max-w-lg text-right">
        <h2 class="text-green"> Our Services </h2>
        <p class="text-green"> From collaborating to understand your physical presence, messaging, and values, to optimizing each digital touchpoint, we create cohesive online spaces that reflect the heart of your business. Let's work together to carry your brand from offline to an engaging, results-driven website tailored to your community.</p>
    </div>
</section>

<!-- Grid of services  -->
<section class="grid sm:grid-cols-3">
    
    {% for service in site.data.why_choose_us.services limit:3%}
        <div class="p-5p">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p> 
        </div>
    {% endfor %}

</section>

<!-- Features / about blocks -->
<section class="bg-green">
    <h2 class="text-center text-platinum"> Recent Projects </h2>
    <div class="grid grid-cols-12">
        <div class="self-center sm:col-span-5 col-span-full p-5p max-sm:order-2">
            <h4 class="text-thistle"> Wisdom's Way </h4>
            <p class="text-platinum"> Built for a holistic health and life coach. Through deep collaboration, we gained insight into her brand vision, target audience, and desired user experience. We brought her unique approach to mind-body wellness to life through intentional design choices and custom content. The site exudes an airy, wholistic aesthetic while also clearly communicating the coach's offerings. Lead generation elements like an email and contact forms enable visitors to easily engage further. This holistic coaching site exemplifies our process of fusing creative design with digital strategy to craft experiences that aesthetically and functionally achieve business goals.</p>
            <a href="http://wisdoms-way.com" class="button"> Go to site </a>
        </div>
        <div class="relative self-center sm:col-span-7 col-span-full p-5p ">
            <img src="assets/images/portfolio/ww.png" alt="wisdoms way project">
            <div class="bg-cover bg-center aspect-[5/4] w-[80%] absolute top-0 right-0 opacity-0 hover:opacity-100" style="background-image: url(assets/images/portfolio/ww-2.png)"></div>    
        </div>

    </div>
    <div class="grid grid-cols-12 md:flex-row-reverse">
        <div class="relative self-center sm:col-span-7 col-span-full p-5p">
            <img src="assets/images/portfolio/yoga.png" alt="yoga studio project"> 
            <div class="bg-cover bg-center aspect-[5/4] w-[80%] absolute top-0 left-0 opacity-0 hover:opacity-100" style="background-image: url(assets/images/portfolio/yoga-2.png)"></div>   
        </div>
        
        <div class="self-center sm:col-span-5 col-span-full p-5p">
            <h4 class="text-thistle">Zen Yoga Studio</h4>
            <p class="text-platinum"> This yoga studio website we developed as a portfolio project. While fabricated, it demonstrates our skills in strategizing, designing, and building custom sites optimized for specific client needs. For this yoga studio, we crafted a clean, modern website focused on providing schedule and membership information while reflecting the brand's zen, mindfulness-based culture. Thoughtful UX choices, responsive design, and purpose-built content came together to engage visitors. Though conceptual, projects like this yoga site showcase our process for collaborating with clients to bring their brand to life online through tailored web experiences.</p>
            <a href="http://yoga.viasana.co" class="button"> Go to site </a>
        </div>
    </div>
</section> 

