
/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Default Styles --------- */
@layer base {
    html, body {
        max-width: 100vw;
        overflow-x: hidden;
        scroll-behavior: smooth;
        @apply text-primary;        
    }

    section {
        @apply p-5p;
    }

    h1 {
        @apply mb-4 font-serif text-3xl md:text-6xl;
    }

    h2, h3, h4  
    {
        @apply mb-4;
    }
    h2 { @apply text-2xl md:text-5xl font-serif} 
    h3 { @apply text-xl md:text-4xl font-serif}
    h4 { @apply text-lg md:text-3xl font-serif}

    p { @apply mb-2 font-light font-sans}
    p:last-child{ @apply mb-0 }

    img { max-width: 100%; }

    .bg-image {
        @apply bg-center bg-no-repeat bg-cover;
    }
}


/* ----------- ADDITIONAL COMPONENTS  --------- */
@layer components {

    .btn-primary { 
        @apply font-serif text-success bg-accent hover:bg-primary text-base capitalize
    }

    .btn-secondary { 
        @apply font-serif text-primary bg-info hover:bg-secondary text-base capitalize
    }

    #top-nav a {
        @apply hover:text-accent
    }    

    /* Special Image Classes */
    .bg-mojo {
        background-image: url('/assets/images/mojo-wall.png');
    }

    @media (max-width: 640px) {
        .bg-mojo{
            background-position: 70%;
            background-size: auto 140%;
        }
    }

    .textarea {
        @apply min-h-[6rem];
    }
    .footer-title {
        @apply capitalize opacity-100;
    } 
}

@layer utilities {
    .icon-section img {
        max-width: 3rem;
        opacity: 0.8;
        margin: 1rem auto;
    }

    .mx-scrn {  @apply mx-auto max-w-screen-2xl }

    .subtle {   @apply opacity-80 text-sm }

    .page-overlay {
        position: relative;
        background-color: rgba(105, 105, 105, 0.45);
    }
}