
/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Default Styles --------- */
@layer base {
    html, body {
        max-width: 100vw;
        overflow-x: hidden;
        scroll-behavior: smooth;
        @apply text-primary;        
    }

    section {
        @apply p-5p;
    }

    h1 {
        @apply mb-4 font-serif text-3xl md:text-6xl;
    }

    h2, h3, h4  
    {
        @apply mb-4;
    }
    h2 { @apply text-2xl md:text-5xl font-serif} 
    h3 { @apply text-xl md:text-4xl font-serif}
    h4 { @apply text-lg md:text-3xl font-serif}

    p { @apply mb-2 font-light font-sans}
    p:last-child{ @apply mb-0 }

    img { max-width: 100%; }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */
@layer components {

    .btn-primary { 
        @apply font-serif text-success bg-accent hover:bg-primary text-base capitalize
    }

    .btn-secondary { 
        @apply font-serif text-primary bg-info hover:bg-secondary text-base capitalize
    }

    #top-nav a {
        @apply hover:text-accent
    }

    /* Background Images */
    .bg-image {
        background-color:rgb(240,240,240); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/images/plant.jpg');
    }

    .bg-plant {
        background-image: url('/assets/images/plant.jpg');
        background-position: 50% 43%;
    }

    .bg-plant-2 {
        background-image: url('/assets/images/plant-2.jpg');
        background-position: 75% 50%;
    }
    .bg-meeting {
        background-image: url('/assets/images/MoJo.jpg');
    }
    .bg-mockup {
        background-image: url('/assets/images/mockup.jpg');
    }

    .bg-laptop {
        background-image: url('/assets/images/laptop-mockup-1.png');
        background-position: center;
    }

    .bg-laptop-2 {
        background-image: url('/assets/images/laptop-2.png');
        background-position: center;
    }

    .bg-mojo_2 {
        background-image: url('/assets/images/mojo_2.png');
        background-position: center;
    }

    .bg-flower_blue {
        background-image: url('/assets/images/flower_blue.png');
        background-position: center;
    }
}

@layer utilities {
    .icon-section img {
        max-width: 3rem;
        opacity: 0.8;
        margin: 1rem auto;
    }

    .mx-scrn {  @apply mx-auto max-w-screen-2xl }

    .subtle {   @apply opacity-80 text-sm }
}