<!-- include about -->
<section class="flex overflow-hidden lg:py-0 max-lg:flex-wrap bg-accent" id="about">
    <div class="self-center max-lg:mx-auto text-success lg:basis-4/10 basis-full">
        <div class="max-w-xl mb-4">
            <h2 class="pb-2">{{site.data._copy.section_5.h2}}</h2>
            <p>{{site.data._copy.section_5.p_1}}</p>
            <p>{{site.data._copy.section_5.p_2}}</p>
        </div>
    </div>
    <div class="self-center aspect-portrait lg:basis-6/10 basis-full bg-image" style="background-image: url(assets/images/mojo_mask.png);"></div> 
</section>