<!-- include contact -->
<section id="contact" class="bg-primary">
  <h2 class="mb-12 text-center text-success editable"> Contact Us</h2>

  <div class="grid grid-cols-6 mx-auto max-w-screen-2xl">
      
      <div class="md:col-span-3 col-span-full"> 
          <div class="bg-top bg-cover aspect-[16/9] rounded-lg shadow-xl" style="background-image: url('assets/images/joe-stretch.jpg');"></div>
      </div>
      
      <!-- Contact Form -->
      <div class="md:col-span-3 col-span-full"> 
        <form class="grid max-w-lg p-4 mx-auto" method="post"> 
          <label for="name" class="mt-2 text-success font-serif"> Name </label>
          <input type="text" placeholder="Name" id="name" class="w-full mt-2 input input-bordered input-primary placeholder-neutral text-base font-sans" />

          <label for="Email" class="mt-2 text-success font-serif"> Email </label>
          <input type="text" placeholder="Email" id="name" class="w-full mt-2 input input-bordered input-primary placeholder-neutral text-base font-sans" />
    
          <label for="message" class="mt-2 text-success font-serif">How can we help? </label>
          <textarea class="textarea textarea-primary placeholder-neutral text-base font-sans" id="message" name="message" placeholder="Your message"></textarea>
    
          <input type="hidden" name="inbox_key" value="contact-form">
          <input type="text" name="_gotcha" style="display: none;">
    
          <div class="text-right"> <input class="my-4 btn btn-secondary" type="submit" value="submit" id="submitBtn"/> </div>
        </form>
      </div>
  </div>
</section>