<ul class="list-disc">
    <li> Custom website design reflecting your brand and preferences. </li>
    <p class="p-4">
    </p>
    <li> Captivating homepage for a strong first impression. </li>
    <li> Rooms & Villa page with pictures and booking engine. </li>
    <li> Contact Us page with details and user-friendly form. </li>
    <li> Seamless social media integration. </li>
    <li> Mobile responsiveness for all devices. </li>
    <li> Basic SEO setup for better visibility. </li>
    <li> User-friendly Content Management System (CMS). </li>
    <li> Website analytics for valuable insights. </li>
</ul>