<!-- include newsletter_form -->
<section class="p-8 text-center text-white bg-secondary"> 
  <p> Sign up to our newsletter to access free design resources.</p>
  <form class="grid max-w-2xl mx-auto" method="post"> 
      <input type="email" id="email" name="email" class="p-2 mb-2 text-center bg-transparent border" placeholder="Your Email" />

      <input type="hidden" name="inbox_key" value="contact-form">
      <input type="text" name="_gotcha" style="display: none;">

      <div class="m-2 text-center"> <input class="border btn" type="submit" value="Subscribe"/> </div>
  </form>
</section>