<footer class="pb-0 text-base-100 p-5p bg-success">
    <div class="grid md:grid-cols-2 mx-scrn">
        <div class="p-5p max-md:text-center">
            <div class="p-0">
                <img src="assets/images/ViaSana_logo-green.png" class="max-w-[20vw]"></img>  
            </div> 
            <h3>Web Dev Co-Op</h3>
            <p>ViaSana, the place where technical expertise meets magic. As a web development co-op, we infuse your digital presence with authenticity, creativity, and inspiration, creating websites that reflect your brand identity and empower you to share your gifts with the world.</p>
        </div>

        <div class="self-end text-center p-5p md:text-right">
            <h3> Let's Connect. </h3>
            <nav class="text-base-100">
                <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
                <a href="#"> <i class="fab fa-instagram"></i> </a>
                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                <a href="#"> <i class="fab fa-twitter"></i> </a>
            </nav>
        </div>

        <div class="text-center col-span-full pt-5p subtle">
            <p>Copyright 2023</p>
        </div>
    </div>
</footer>
