<footer class="p-10 footer bg-neutral text-neutral-content">
    <aside>
        <img src="assets/images/ViaSana_logo-green.png" class="max-w-[20vw] self-center"></img>  
        <h3>Web Dev Co-Op</h3>
        <p>ViaSana, the place where technical expertise meets magic. As a web development co-op, we infuse your digital presence with authenticity, creativity, and inspiration, creating websites that reflect your brand identity and empower you to share your gifts with the world.</p>
    </aside> 
    <nav>
        <header class="footer-title">Let's Connect.</header> 
        <div class="grid grid-flow-col gap-4">
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
        </div>
    </nav>
</footer>
<aside class="pb-2 text-center bg-neutral text-neutral-content">
    <p class="subtle">Copyright © 2023 - ViaSana LLC</p>
</aside>
