<footer class="pb-0 text-white p-5p bg-dark">
    <div class="grid md:grid-cols-2 mx-scrn">
        <div class="p-5p max-md:text-center">
            <h2> The Design Collective </h2>
            <h3> Web Design & Development </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita eos cumque laboriosam nisi molestiae quae libero similique. </p>
        </div>

        <div class="self-end text-center p-5p md:text-right">
            <h3> Let's Connect. </h3>
            <nav>
                <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
                <a href="#"> <i class="fab fa-instagram"></i> </a>
                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                <a href="#"> <i class="fab fa-twitter"></i> </a>
            </nav>
        </div>

        <div class="text-center col-span-full pt-5p subtle">
        <p> Copyright 2023</p>
        </div>
    </div>
</footer>
